{% extends 'baseFo.html.twig' %}
{% block title %}
Contactez-moi | Evlow Foodies
{% endblock %}
{% block body %}
<main>
    <article>
        <section class="intro-contact">
            <p>Une question ?</p>
            <br>
            <p>Un problème ?</p>
            <br>
            <p>Autre ?</p>
            <br>
            <h3>
                <span>Contactez-moi !</span>
            </h3>
        </section>
    </article>
    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}

    <div class="content-contact">
        <div class="contact-column">
            {{form_label(formContact.lastName, '*Nom' )}}
            {{form_widget(formContact.lastName,{'attr':{'class':''}}
            )}}
        </div>
        <div class="contact-column">
            {{form_label(formContact.firstName,'*Prénom' )}}
            {{form_widget(formContact.firstName )}}
        </div>
        {{form_label(formContact.email, '*Email' )}}
        {{form_widget(formContact.email )}}
        <div class="message">
            {{form_label(formContact.message )}}
            {{form_widget(formContact.message,{'attr':{'class':'contact_message'}}
            )}}
        </div>

 <button class="btn-submit" type="submit" value="Envoyer"></button>
</main>
{% endblock %}
