{% extends '/bases/baseFo.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <article class="article-registration">
        <section class="section-registration">
            <p class="p-registration">Mot de passe oublié?</p>
            <p class="p-registration">Un lien vous sera envoyé pour réinitialiser votre mot de passe !</p>
            <h3 class="home-h3 ">
                <span>Inscrivez votre email !</span>
            </h3>
        </section>

        <section class="content-reinitialization">
    {{ form_start(requestForm) }}
    {{ form_label(requestForm.email) }}
    {{ form_widget(requestForm.email) }}

        <button class="button-reinitialization">Réinitialiser mon mot de passe</button>
    {{ form_end(requestForm) }}
    </section>
    </article>
{% endblock %}
