{% extends 'baseFo.html.twig' %}
{% block title %} Contactez-moi | Evlow Foodies{% endblock %} 
{% block body %}
<main>
    <article>
        <section class="intro-contact">
            <p>Une question ?</p>
            <br>
            <p>Un problème ?</p>
            <br>
            <p>Autre ?</p>
            <br>
            <h3><span>Contactez-moi !</span></h3>
        </section>
    </article>
 

        <div class="content-contact">

            <label for="{{ formContact.vars.id }}">*Nom</label>
            <input type="text" id="{{formContact.vars.id}} "name="{{formContact.vars.full_name}}" value="{{formContact.vars.full_name}}">

            <label for="{{ formContact.vars.id }}">*Prénom</label>
            <input type="text" id="{{formContact.vars.id}} "name="{{formContact.vars.full_name}}" value="{{formContact.vars.full_name}}">

         <label for="{{ formContact.vars.id }}">*Email</label>
         <input type="text" id="{{formContact.vars.id}} "name="{{formContact.vars.full_name}}" value="{{formContact.vars.full_name}}">

         <label for="{{ formContact.vars.id }}">*Message</label>
            <textarea type="textarea" id="{{formContact.vars.id}} "name="{{formContact.vars.full_name}}" value="{{formContact.vars.full_name}}"></textarea>
        </div>  
        <button class="btn-submit" type="submit"> Envoyer </input>
 
 

        
</main>
{% endblock %}
