{% extends '/bases/baseFo.html.twig' %}

{% block title %} Contactez-moi | Evlow Foodies{% endblock %} 
{% block body %}
<main>
    <article class="article-contact">
        <section class="section-contact">
        <div class="form-contact">
            <div class="bloc-contact">
                {{ form_start(formContact) }}
                {{ form_label(formContact.firstName) }}
                {{ form_widget(formContact.firstName) }}
            </div>
            <div class="bloc-contact">
                {{ form_label(formContact.lastName) }}
                {{ form_widget(formContact.lastName) }}
            </div>
            <div class="bloc-contact">
                {{ form_label(formContact.email) }}
                {{ form_widget(formContact.email) }}
            </div>
            <div class="bloc-contact">
                {{ form_label(formContact.message) }}
                {{ form_widget(formContact.message) }}
            </div>
            <div class="bloc-input">
                {{ form_label(formContact.envoyer) }}
                {{ form_widget(formContact.envoyer) }}
            </div>
     
   </section>
{% endblock %}
