{% extends '/bases/baseFo.html.twig' %}

{% block title %}
Recettes p'tits gônes | Evlow Foodies
{% endblock %}

{% block body %}
<!--INTRODUCTION-->
<div class="content-intro-gones">
    <div class="paragraphe-gones">
        <p>Les recettes P'tits Gônes</p>
    </div>
</div>
<div class="carts">
    <section class="content-card">
        {% for recipe in recipes %}
        <article class="card">
            <img class="recipe-img-home" src="{{vich_uploader_asset(recipe, 'imageFile')}}" alt="image">
            <h3 class="recipes-h3">{{recipe.title}}</h3>
            <p>{{recipe.description}}</p>
            <a class="btn-recipe" href="{{ path('app_fo_recipe_sheet', { id: recipe.id }) }}">Voir la recette</a>

<div>
    
        </article>
        {% endfor %}
    </section>
</div>

{% endblock %}





{% else %}
<img class="img-favoris" src="{{asset('assets/picture/black-favoris.svg') }}" alt="icone favoris"></li>
{% endif %}
{% else %}
<img class="img-favoris" src="{{asset('assets/picture/black-favoris.svg') }}" alt="icone favoris"></li>

{% else %}
<img class="img-favoris" src="{{asset('assets/picture/black-favoris.svg') }}" alt="icone favoris"></li>



<img class="img-favoris" src="{{asset('assets/picture/red-favoris.svg') }}" alt="icone favoris"></li>
</div>