{% extends '/bases/baseFo.html.twig' %}

{% block title %}
Recettes p'tits gônes | Evlow Foodies
{% endblock %}

{% block body %}
<!--INTRODUCTION-->
<div class="content-intro-gones">
    <div class="paragraphe-gones">
        <p>Les recettes P'tits Gônes</p>
    </div>
</div>
<div class="carts">
    <section class="content-card">
        {% for recipe in recipes %}
        <article class="card">
            <img class="recipe-img-home" src="{{vich_uploader_asset(recipe, 'imageFile')}}" alt="image">
            <h3 class="recipes-h3">{{recipe.title}}</h3>
            <p>{{recipe.description}}</p>
            <a class="btn-recipe" href="{{ path('app_fo_recipe_sheet', { id: recipe.id }) }}">Voir la recette</a>
            {% if is_granted("ROLE_USER") %}
            {% set isFavorite = false %}
            {% for favoris in recipe.favoris %}
                {% if favoris.id == app.user.id %}
                    {% set isFavorite = true %}
                {% endif %}    
            {% endfor %}
            {% if isFavorite %}
            <a href="{{ path('add_bo_favorites', {id: recipe.id}) }}"><img class="img-favoris" src="{{asset('assets/picture/black-favoris.svg') }}" alt="icone coeur vide"></a>
            {% else %}
            <a href="{{ path('add_bo_favorites', {id: recipe.id}) }}"><img class="img-favoris" src="{{asset('assets/picture/black-favoris.svg') }}" alt="icone coeur plein"></a>
            {% endif %}

        {% else %}
        <img class="img-favoris" src="{{asset('assets/picture/black-favoris.svg') }}" alt="icone coeur vide"></li>        
        {% endif %}
</article>
{% endfor %}
</section>
</div>
{% endblock %}





