{% extends '/bases/baseFo.html.twig' %}

{% block body %}
<div class="content-intro-recipe-sheet">
    <div class="paragraphe-recipe-sheet">
        <h3 class="h3-recipe-sheet">{{recipe.title}}</h3>
    </div>
    <div class="content-img-sheet">
        <img class="recipe-sheet-img" src="{{vich_uploader_asset(recipe, 'imageFile')}}" alt="{{recipe.title}}">   
    </div>
    <p class="recipe-description">{{recipe.description}}</p>
</div>
<article class="content-article">
    <section class="section-ingredients">
        <div class="bloc-title">
            <div class="ovale">
                <h4 class="title-flex"><img class="ingredients" src="{{ asset('assets/picture/ingredient.svg') }}"
                        alt="image ingrédients" />Ingédients
                </h4>
            </div>
        </div>

        <ul>
            <li>♦ {{recipe.ingredient1}}</li>
            <li>♦ {{recipe.ingredient2}}</li>
            <li>{% if recipe.ingredient3 is null %} {% else %}♦ {{recipe.ingredient3}}</li> {% endif %}
            <li>{% if recipe.ingredient4 is null %} {% else %}♦ {{recipe.ingredient4}}</li> {% endif %}       
            <li>{% if recipe.ingredient5 is null %} {% else %}♦ {{recipe.ingredient5}}</li> {% endif %}
            <li>{% if recipe.ingredient6 is null %} {% else %}♦ {{recipe.ingredient6}}</li> {% endif %}    
            <li>{% if recipe.ingredient7 is null %} {% else %}♦ {{recipe.ingredient7}}</li> {% endif %}
            <li>{% if recipe.ingredient8 is null %} {% else %}♦ {{recipe.ingredient8}}</li> {% endif %}       
            <li>{% if recipe.ingredient9 is null %} {% else %}♦ {{recipe.ingredient9}}</li> {% endif %}
            <li>{% if recipe.ingredient10 is null %} {% else %}♦ {{recipe.ingredient10}}</li> {% endif %}    
            <li>{% if recipe.ingredient11 is null %} {% else %}♦ {{recipe.ingredient11}}</li> {% endif %}
            <li>{% if recipe.ingredient12 is null %} {% else %}♦ {{recipe.ingredient12}}</li> {% endif %}    
            <li>{% if recipe.ingredient13 is null %} {% else %}♦ {{recipe.ingredient13}}</li> {% endif %}
            <li>{% if recipe.ingredient14 is null %} {% else %}♦ {{recipe.ingredient14}}</li> {% endif %}       
            <li>{% if recipe.ingredient15 is null %} {% else %}♦ {{recipe.ingredient15}}</li> {% endif %}
        </ul>

    </section>

    <section class="section-preparations">

        <div class="bloc-title">
            <div class="ovale">
                <h4 class="title-flex"><img class="preparations" src="{{ asset('assets/picture/preparation.svg') }}"
                        alt="image préparation" />Préparations
                </h4>
            </div>
        </div>
        
        <ul>
            <li>{% if recipe.preparation1 is null %} {% else %}<span class="list-number">1.</span> {{recipe.preparation1}}</li> {% endif %}
            <li>{% if recipe.preparation2 is null %} {% else %}<span class="list-number">2.</span> {{recipe.preparation2}}</li> {% endif %}
            <li>{% if recipe.preparation3 is null %} {% else %}<span class="list-number">3.</span> {{recipe.preparation3}}</li> {% endif %}
            <li>{% if recipe.preparation4 is null %} {% else %}<span class="list-number">4.</span> {{recipe.preparation4}}</li> {% endif %}
            <li>{% if recipe.preparation5 is null %} {% else %}<span class="list-number">5.</span> {{recipe.preparation5}}</li> {% endif %}
            <li>{% if recipe.preparation6 is null %} {% else %}<span class="list-number">6.</span> {{recipe.preparation6}}</li> {% endif %}

        </ul>
    </section>
</article>



{% endblock %}