<aside>
    <nav class="nav-aside">
        <ul>
            <li><a href="{{path('app_bo_dashboard')}}">Dashboard 
                <img class="img-aside" src="{{asset('assets/picture/dashboard.svg') }}" alt="icone dashboard">
          </li> </a>
            <li><a href="{{path('app_recipe')}}">Recettes
                <img class="img-aside" src="{{asset('assets/picture/recipes.svg') }}" alt="icone recettes"></li></a>
            <li><a href="{{path('app_bo_favorites')}}">Favoris
                <img class="img-aside" src="{{asset('assets/picture/favoris.svg') }}" alt="icone favoris"></li></a>
        </ul>
    </nav>
</aside>

