<footer>
    <div class="bloc-footer">
        <div class="content-footer">
            <!--SOCIAL NETWORK-->
            <div class="footer-column">
                <h4>Retrouvez-moi ici :</h4>
                <ul class="logo-social">
                    <li><a href="#" target="_blank"><img src="{{ asset('assets/picture/facebook.svg') }}" alt="Logo Facebook" /></a>
                    </li>
                    <li><a href="https://www.instagram.com/_evlow_fit_/?hl=fr" target="_blank"><img
                                src="{{ asset('assets/picture/instagram.svg') }}" alt="Logo Instagram" /></a>
                    </li>
                    <li><a href="https://www.linkedin.com/in/mathilde-peauger/" target="_blank"><img
                                src="{{ asset('assets/picture/linkedin.svg') }}" alt="Logo Linkedin" /></a>
                    </li>
                </ul>
            </div>
            <!--NEWSLETTERS-->
            <div class="footer-newsletter">
                <h4>Newsletters</h4>
                <input type="email" placeholder="Veuillez écrire votre adresse mail" name="user_email"
                    class="input-newsletter">
            </div>
            <!--CONTACT-->
            <div class="footer-contact">
                <h4><a href="Contact" target="_blank">Contact</a></h4>
            </div>
            <!--CONNEXION-->
            <div class="footer-connect">
                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <a class="btn-login" href="{{path('app_fo_login')}}">Se connecter</a>
            {% else %}
            <a class="btn-login" href="{{path('app_fo_logout')}}">Se deconnecter</a>
            {% endif %}
            </div>
        </div>
        <!--OTHER-->

        <div class="other">
            <div class="separation"></div>
            <ul>
                <li><a href="Mentions légales" target="_blank"> Mentions légales </a></li>
                <p>-</p>
                <li><a href="Conditions Générales d'Utilisation" target="_blank"> Conditions Générales
                        d'Utilisation</a></li>
                <p>-</p>
                <li><a href="Politique de protection des données personnelles" target="_blank"> Politique de
                        protection des
                        données personnelles </a></li>
                <p>-</p>
                <li><a href="Politique des cookies" target="_blank"> Politique des cookies</a></li>

            </ul>
        </div>
        <!--COPYRIGHT-->
        <div class="content-copyright">
            <p>Tous droits réservés Evlow Foodies 2022</p>
        </div>
    </div>
</footer>
</div>
</body>

</html>