<header>
    <h1>EVLOW FOODIES</h1>
    <h2>| Des recettes pour tous les goûts |</h2>
    <!--NAV-->
    <nav>
        <ul id="unrolling">
            <li><a href="{{path('app_fo_savory_recipes')}}">Recettes salées</a>    
            </li>
            <li><a href="{{path('app_fo_sweet_recipes')}}">Recettes sucrées</a>    
            </li>
            <li><a href="{{path('app_fo_little_gones_recipes')}}">Recettes p'tits gônes</a>    
            </li>
            <li><a href="{{path('app_fo_specific_recipes')}}">Régimes spécifiques</a>
            </li>
            <li><a href="{{path('app_fo_contact')}}" target="_blank">Contact</a></li>
            <form>
                <button class="connect" type="submit" formaction="#">Se connecter</button>
            </form>
        </ul>
    </nav>
</header>
