{% extends '/bases/baseBo.html.twig' %}

{% block title %}Dashboard | Evlow Foodies{% endblock %}

{% block body %}

<article class="dashboard">
    <h2>Bienvenue {{ app.user.lastname }} !</h2>


    <section class="edit-profil">
        <h3 class="h3-profil"> Mes infos personnelles </h3>
        <div class="profil">

            <p><strong>Nom :</strong> {{ app.user.firstname }}</p>
            <br>

            <p><strong>Prénom :</strong>{{ app.user.lastname }}</p>
            <br>

            <p><strong>Pseudo :</strong> {{ app.user.pseudo }}</p>

            <br>
            <p><strong>Email : </strong> {{ app.user.email }}</p>
            <br>
        </div>
            <div class="buttons-edit">
                <div class="edit-password">
                    <a class="btn-edit-password"
                        href="{{path('app_user_edit_password',{ id:  app.user.id  }) }})}}">Modifier mon mot de
                        passe</a>
                </div>

                <div class="edit-email">
                    <a class="btn-edit-email" href="{{path('app_user_edit',{ id:  app.user.id  }) }})}}">Modifier mon
                        email</a>
                </div>
            </div>
    </section>
</article>



{% endblock %}