{% extends '/bases/baseBo.html.twig' %}

{% block body %}
	<article>
		<h2>Les recettes</h2>
		<div class="container mt-4">
			{% for message in app.flashes('success') %}
				<div class="alert alert-success mt-4">
					{{ message }}
				</div>
        </div>
			{% endfor %}
			<section class="content-card">
				{% for recipe in recipes %}
					<div class="card">
						<h3 class="recipes-h3">{{recipe.title}}</h3>
						<div class="content-recipe-img">
							<img class="recipe-img-home" src="{{vich_uploader_asset(recipe, 'imageFile')}}" alt="image">
						</div>
						<a class="btn-recipe" href="{{ path('app_bo_recipes_edit', { id: recipe.id }) }}">Modifier</a>
						<a class="btn-recipe" href="{{ path('app_bo_recipes_del', { id: recipe.id }) }}">Supprimer</a>
					</div>
				{% endfor %}
          

            {# //ADD RECIPES #}
				
					<div class="add-recipe">
						<a href="{{path('app_bo_recipes_add')}}">
							<h3>+
								<br>
								Ajouter une recette
							</h3>
						</a>
					</div>
                    </section>
				</article>
			{% endblock %}
