{% extends '/bases/baseFo.html.twig' %}
{% block title %}
Contactez-moi | Evlow Foodies
{% endblock %}
{% block body %}

{% for message in app.flashes('inscription') %}
<div class="alert-inscription">
    {{ message }}
</div>
{% endfor %}

<article class="article-registration">
    <section class="section-registration">
        <p class="p-registration">Envie de partager vos recettes ?</p>
        <p class="p-registration">De retrouver vos recettes coup de coeur ?</p>
        <h3 class="home-h3 ">
            <span>Inscrivez-vous !</span>
        </h3>

        <div class="form-error">
            {{ form_errors(registrationForm.email) }}
            {{ form_errors(registrationForm.pseudo) }}
            {{ form_errors(registrationForm.plainPassword.first) }}
            {{ form_errors(registrationForm.plainPassword.second) }}
        </div>
    </section>

    <section class="content-registration">
        <div class="form-registration">
            <div class="bloc-registration">
                {{ form_start(registrationForm) }}
                {{ form_label(registrationForm.firstName) }}
                {{ form_widget(registrationForm.firstName) }}
            </div>
            <div class="bloc-registration">
                {{ form_label(registrationForm.lastName) }}
                {{ form_widget(registrationForm.lastName) }}
            </div>
            <div class="bloc-registration">
                {{ form_label(registrationForm.pseudo) }}
                {{ form_widget(registrationForm.pseudo) }}
            </div>
            <div class="bloc-registration">

                {{ form_label(registrationForm.email) }}
                {{ form_widget(registrationForm.email) }}

            </div>
            <div class="bloc-registration">
                {{ form_label(registrationForm.plainPassword) }}
                {{ form_widget(registrationForm.plainPassword) }}
            </div>
        </div>
        <div class="bloc-input">
            {{ form_label(registrationForm.envoyer) }}
            {{ form_widget(registrationForm.envoyer) }}

        </div>
        <div class="bloc-agree">
            {{ form_label(registrationForm.agreeTerms) }}
            {{ form_widget(registrationForm.agreeTerms) }}

        </div>
        {{ form_end(registrationForm) }}
        <span class="span-registration">*Champs obligatoires</span>


    </section>
</article>

{% endblock %}