{% extends '/bases/baseFo.html.twig' %}
{% block title %}
Contactez-moi | Evlow Foodies
{% endblock %}
{% block body %}
<main>
    <article class="article-registration">
        <section class="article-registration">
            <p class="p-registration">Envie de partager tes recettes ?</p>
            <p class="p-registration">De retrouver tes recettes coup de coeur ?</p>
            <h3 class="home-h3 ">
                <span>Inscrits-toi !</span>
            </h3>
        </section>
 
    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}

    <section class="content-registration">
        <div class="form-registration">
            <div class="bloc-registration">
                {{ form_start(FormRegistration) }}
                {{ form_label(FormRegistration.firstName) }}
                {{ form_widget(FormRegistration.firstName) }}
            </div>
            <div class="bloc-registration">
                {{ form_label(FormRegistration.lastName) }}
                {{ form_widget(FormRegistration.lastName) }}
            </div>
            <div class="bloc-registration">
                {{ form_label(FormRegistration.pseudo) }}
                {{ form_widget(FormRegistration.pseudo) }}
            </div>
            <div class="bloc-registration">
                {{ form_label(FormRegistration.email) }}
                {{ form_widget(FormRegistration.email) }}
            </div>
            <div class="bloc-registration">
                {{ form_label(FormRegistration.plainPassword) }}
                {{ form_widget(FormRegistration.plainPassword) }}
            </div>
        </div>
            <div class="bloc-input">
                {{ form_label(FormRegistration.envoyer) }}
                {{ form_widget(FormRegistration.envoyer) }}
            </div>
            <div class="bloc-agree">
                {{ form_label(FormRegistration.agreeTerms) }}
                {{ form_widget(FormRegistration.agreeTerms) }}
                {{ form_end(FormRegistration) }}
                
            </div>
            <span>*Champs obligatoires</span>
   

    </section>
    </article>
</main>
{% endblock %}